#(project
  (#(meta
     (#(name lfeysession)
      #(description "YAWS session utilities written in LFE")
      #(version "0.1.0")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "Server" "Sessions"))
      #(maintainers
        ((#(name "Michael J. Forster") #(email "mike@forsterfamily.ca"))))
      #(repos
        (#(github "michaeljforster/lfeysession")))))
   #(app
     (#(mod #(lfeysession ()))))))
